*.pyc
.DS_Store
.idea
build/
data/*/data
data/*/meta
__pycache__/
models/checkpoints/
models/metrics/*.csv
models/sent140/embs.json
models/sent140/glove*
_build/
_templates/
autodoc/

run.sh
log.*
models_tf/
wandb/